    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;

      min-height: 100vh;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      background-color: #f0f0f0;
    }

    /* IMAGINNE PRINCIPAL */
    /*If needed, size of image can be changed HERE*/
    #toggle_image {
      margin-top: 70px;
      max-width: 90%;
      height: auto;
      border-radius: 12px;
    }

    /* FOREGROUND */
    #foreground_layer {
      position: fixed;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      object-fit: cover;

      pointer-events: none;
      z-index: 10;
    }